@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');
.{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: rgb(112, 103, 103);
    position: absolute;
    /*width: 434px;*/
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
    height: 100vh;
    transition: transform 0.3s ease-in;
}
.sidebar nav{
    padding: 40px;
    height: 85vh;
}
.sidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 32px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    /*background-color: yellow;*/
    width: 90vw;
    padding: 23px;
}
.container{
    display: flex;
    /*width: 90vw;*/
}
.infocontainer{
    /*background-color: yellowgreen;*/
    height: 48vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'EB Garamond', serif;
}
.hello{
    font-size: 65px;
}
.name{
    font-size: 50px;
    font-weight: bold;
}

.about{
    font-size: 40px;
}

.aboutmore{
    font-size: 29px;
    margin-top: 10px;
}

.buttons{
    margin-top: 20px;
}

.btn a{
    text-decoration: none;
    color: white;
}
/*.btn a:hover{
    background-color: white;
    color: dodgerblue;
    background-color: dodgerblue;
}*/

.btn{
    text-decoration: none;
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    border-color: white;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}

.btn-sm{
    font-size: 14px;
    padding: 10px 19px;
    margin: 12px 0;
}

.btn a:hover{
    background-color: white;
    color: dodgerblue;
}

.devPic img{
    height: 48vh;
    /*margin: 100px 0;*/
}

.contactform{
    padding-top: 144px;
    padding: 0 34px;
    font-family: 'EB Garamond', serif;
    margin: 0 98px;
}

.contactform h1{
    font-family: 'EB Garamond', serif;
    padding: 12px;
}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}
#emailHelp{
    font-size: 15px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check{
    flex-direction: row;
}
#form-check input{
    width: 24px;
    margin: 3px 0;
}

.blogitem{
    margin: 20px;
    font-family: 'EB Garamond', serif;
}

.blogcontainer{
    margin: 0 200px;
}

.blogcontainer h1{
    font-family: 'EB Garamond', serif;
    margin: 23px;

}

.blogitem p{
    font-family: 'EB Garamond', serif;
}

h1{
    font-family: 'EB Garamond', serif;
    margin: 5px;
}

p{
    font-family: 'EB Garamond', serif;
}

.intro h2{
    font-family: 'EB Garamond', serif;
    margin: 0 12px;
}

.intro{
    margin: 0 200px;
}

.intro p{
    font-family: 'EB Garamond', serif;
    margin: 0 12px;
}

.skillcontainer{
    padding: 12px;
}

.skillitem{
    display: flex;
    align-items: center;
    font-family: 'EB Garamond', serif;
    font-weight: 800;
}

.skill{
    width: 265px;
    height: 7px;
    background-color: red;
}

.hundred{
    width: 265px;
    border-style: solid;
    border-color: white;

}
.fifty{
    width: 125px;
    border-style: solid;
    border-color: white;
}
.t5{
    width: 75px;
    border-style: solid;
    border-color: white;
}

.sidebargo{
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.ham{
    margin-top: 10px;
}

/*.cross{
    margin-left: 185px;
    margin-top: 10px;
}*/

.projectcontainer{
    padding: 12px;
}

.project{
    display: flex;
    align-items: center;
    font-family: 'EB Garamond', serif;
    font-weight: 800;
}

.projectitem{
    width: 265px;
    height: 7px;
    background-color: red;
}

@media (max-width: 914px){
    /*{
        /*background-color: red;
    }*/
    .devpic{
        display: none;
    }
    .intro, .blogcontainer, .contactform{
        margin: 50px 8px;
    }
    /*.sidebar{
        transform: translate(-443px, 0px);
        position: absolute;
    }*/
}